@use '@angular/material' as mat;

$margin: 20px;
$padding: 20px;

nav {
  background-color: #1a237e;
  display: flex;
  justify-content: center;
}

.logo {
  margin: $margin auto $margin $margin;
}

.top-header {
  height: 40px;
  background-color: #11164c;
  display: flex;
  justify-content: center;
}

.bottom-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: $padding;
  padding-left: $padding;
  position: sticky;
  max-width: 2000px;
  width: 90%;
}


.languageSelector {
  // margin-top: $margin;
  // margin-bottom: $margin;
  height: 10px;
  width: 100px;
  color: white !important;
  margin: 20px;

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none; // remove extra spacing under select
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: #0d1c6b; // dark blue
    color: white;
    border-radius: 6px;
    padding: 0 8px;
  }

  ::ng-deep .mat-mdc-select-value {
    color: white !important; // text color
    font-weight: 600;
  }

  ::ng-deep .mat-mdc-select-arrow {
    color: white !important; // arrow color
  }

  ::ng-deep mat-pseudo-checkbox{
    display: none;
  }
}


.matSelect {
  color: white;
}

.navItems a {
  color: rgb(209, 207, 207) !important;
}
