/*
 * Global application theme.
 * All global classes and theme styles for html elements and classes should be defined here.
 */


$primaryAccentColor: #0e218f;
$secondaryAccentColor: #f4c859;


label {
  color: white;
}
