<div class="forgot-password-container">
  <!-- Logo -->
  <div class="logo">
    <img
      src="assets/loginComponent/nature_global_solutions_logo_dark.svg"
      alt="Natur Global Solutions Logo"
    />
  </div>

  <!-- Title -->
  <div class="header">
    <a [routerLink]="['/login']" class="back-link">
      <span class="material-icons">arrow_back</span>
    </a>
    <!-- <h2>Forgot Password</h2> -->
  </div>

  <!-- Form -->
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="requestReset(this.forgotPasswordForm.getRawValue())"
    class="form"
  >
    <mat-form-field>
      <mat-label for="email">Email Address</mat-label>
      <input
        matInput
        id="email"
        type="email"
        placeholder="Enter Email Address"
        formControlName="email"
      />
      @if(forgotPasswordForm.controls.email.hasError('email')){
      <mat-error class="error">Invalid email address.</mat-error>
      } @if(forgotPasswordForm.controls.email.hasError('required') &&
      forgotPasswordForm.controls.email.dirty){
      <mat-error class="error">Please provide email address.</mat-error>
      }
    </mat-form-field>

    <button type="submit" class="submit-btn">Submit →</button>
  </form>

  <!-- Back to login -->
  <div class="back-to-login">
    <a [routerLink]="['/auth']">Back to login</a>
  </div>

  <!-- Footer -->
  <footer><a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a></footer>
</div>
