$header-height: 116px;
$footer-height: 230px;



.footer{
  position:relative;
  height: $footer-height;
  width: 100%;
}

.header{
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.content {
  flex: 1;
  min-height: calc(100vh - $header-height - $footer-height);
}
