<div class="wrapper">
  @if(isLoading()){
    <div class="loader">
      <mat-spinner diameter="80"></mat-spinner>
    </div>
  }
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
    <!-- <router-outlet></router-outlet>
    <router-outlet></router-outlet>
    <router-outlet></router-outlet>
    <router-outlet></router-outlet>
    <router-outlet></router-outlet> -->
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
