<div class="appResetPassword">
  <div>
    <!-- Logo -->
    <div class="logo">
      <img
        src="assets/loginComponent/nature_global_solutions_logo_dark.svg"
        alt="Natur Global Solutions Logo"
      />
    </div>

    <div>
      <form (ngSubmit)="resetPassword(resetPasswordForm.getRawValue())" [formGroup]="resetPasswordForm" class="resetPasswordForm">
        <mat-form-field>
          <mat-label> Email </mat-label>
          <input matInput formControlName="email" />
          @if(resetPasswordForm.controls.email.hasError('required')){
          <mat-error>Email is <b>required</b></mat-error>
          } @if(resetPasswordForm.controls.email.hasError('email')){
          <mat-error>Please provide a valid email address</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label> New Password </mat-label>
          <input type="password" matInput formControlName="password" />
          @if(resetPasswordForm.controls.password.hasError('required')){
          <mat-error>Password is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label> Confirm Password </mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
          @if(resetPasswordForm.controls.confirmPassword.hasError('required')){
          <mat-error>Password confirmation is required</mat-error>
          }
          @if(resetPasswordForm.controls.confirmPassword.hasError('mismatch')){
            <mat-error>Password and confirm password don't match.</mat-error>
            }
        </mat-form-field>

        <button matButton="filled" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
